/* Global */
#topbar
{
	position: fixed;
	top: 0;
	width:100%;
	height: 12vh;
	background-color:white;
	border-bottom: 1px solid rgb(117,122,126);
	z-index:100;
}
#topbar i
{
	color:rgb(242,98,97);
	font-size: 5vmax;
	margin-left: 5vw;
	line-height: 12vh;
}
#topbar h1
{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: rgb(117,122,126);

	float:right;
	font-size: 5vmin;
	text-align:center;
	margin:0;
}

.nav-stacked>li+li
{
	margin-top:0;
}

p, h1, h2, h3
{
	margin:0;
}
/* Lists */

.listHolder
{
	margin-top:12vh;
	
}

 h3
{
	font-size: 3vmax;
	color: rgb(242,98,97);
	margin: 1vh 0;
}
p
{
	font-size: 2vmax;
	margin: 1vh 0;
	color: rgb(117,122,126);
}
.list  li
{
	border-bottom: 1px solid rgb(117,122,126);

}

.fakeLink
{
	position: relative;
  display: block;
  padding: 10px 15px;
}

/* Home Page */
body#home
{
background-position:50% 50%;  /* Sets reference point to scale from */
background-size:cover;        /* Sets background image to cover entire element */
	background-image: url('/app/resources/img/placeholder.jpg');
}

#MenuHolder
{
	position:absolute;
	width:100%;
	bottom:0;
}

#MainMenu
{
	background: transparent;

}

#MainMenu>li>a:hover
{
	background: transparent;
	color: lightgrey;
}

#MainMenu>li>a
{
		color: white;
		font-weight:bold;
		border-top: 1px solid darkgrey;
}

#HomeHeader
{
	position:absolute;
	top: 0;
	height: 15vmin;
	width: 100%;
	background-color: rgba(100,13,47,0.8)
}

#HomeHeader h1
{
	color: white;
	padding-left: 5vw;
	float:left;
	font-size: 6vmin;
	line-height: 15vmin;
	margin:0;
}

#HomeSearch i
{
	float:right;
	color:white;
	font-size: 6vmin;
	padding-right: 5vw;
	line-height: 15vmin;
}

/* Exhibitions */


/* Exhibit */

#exhibAction
{
	margin-top:12vh;
	
}
#exhibAction p
{
	font-size: 3vmax;
	margin: 1vh 0;
	color: rgb(117,122,126);
	
}
#exhibAction  a
{
	background-color:rgba(255,255,255,0.8);
	border-bottom: 1px solid rgb(117,122,126);

}

/* tour */
#body p
{
	position: relative;
	display: block;
	padding: 10px 15px;
  	border-bottom: 1px solid rgb(117,122,126);
	margin: 0;
}
.relative
{
	position: relative;

}
.circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

color:white !important;
 background-color: rgb(242,98,97);
 height: 4vmax;
 -moz-border-radius:2vmax;
 -webkit-border-radius: 2vmax;
 width: 4vmax;
line-height:4vmax;
text-align:center;
margin: 0 !important;
}

.listText
{
	margin-left: 5vmax;
}

/* art list */


#picHolder img
{
	width:100%;
	height: auto;
	margin: 2vh 0;

}
#picHolder #left-col
{
	position: absolute;
	top: 12vh;
	width: 42.5%;
	left: 5%;
}
#picHolder #right-col
{
	position: absolute;
	top: 12vh;
	width: 42.5%;
	right: 5%;
	
}

.footer
{
	position: fixed;
	bottom:0;
	height: 7vh;
	width: 100%;
	background-color: rgb(51,51,51);
		text-align:center;

}

.footer i 
{
	color:rgb(145,145,145);
	line-height: 7vh;
	font-size:5vh;
	margin-left: 20%;
	margin-right:20%;

	
}

.footer i.active
{
	color: rgb(231,98,93);
}

/* Artwork */
#imgHolder
{
	margin-top: 12vh;

	border-bottom: 1px solid rgb(117,122,126);
}




#carousel-media
{
	

	height: 35vmax;
	


}

#carousel-media img, #carousel-media video
{
	display: block;
	height: 30vmax;
	padding: 1vmax;
	width:auto;
	margin: 0 auto;
}
.carousel-indicators
{
	bottom: 0;
}
.carousel-indicators li
{
	border-color: rgb(231,98,93);
	background-color: transparent;
}
.carousel-indicators li.active
{
	background-color: rgb(231,98,93);
}

#carousel-media .carousel-control
{
	background-color: transparent;
	background-image: none;
	color: rgb(231,98,93);
	width: 10%;
}

#audioHolder
{
	padding: 1vh 2vmax;
	height:30px + 1vh;
	border-bottom: 1px solid rgb(117,122,126);
	
}

#audioHolder audio
{
	width: 75%;
	height: 30px;
}

.audioControls
{

	float:right;
	font-size: 24px;
	line-height:30px;
	width: 24%;
	text-align:center;

}

.audioControls a
{
		color: #1987BF;
		margin: 0 2vw;
}

@media only screen and (max-width: 767px)
{
	.audioControls a
	{
			margin: 0 0.75vw;
	}
}

.ui-dialog-titlebar
{
	display:none;
}

/* search */

#searchBody
{
		margin-top:14vh;
		text-align:center;
}

#searchBody .link
{
	background:transparent;
	border:none;
	color: #1987BF;
		font-size: 2vmax;
	margin: 1vh 0;
	
}

.orange
{
			color: rgb(242,98,97);
}

input
{
	text-align: center; 
}






