/* Global */
#topbar
{
	position: fixed;
	top: 0;
	width:100%;
	height: 12vh;
	background-color:white;
	border-bottom: 1px solid rgb(117,122,126);
	z-index:100;
}
#topbar i
{
	color:rgb(242,98,97);
	font-size: 5vmax;
	margin-left: 5vw;
	line-height: 12vh;
}
#topbar h1
{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: rgb(117,122,126);

	float:right;
	font-size: 5vmin;
	text-align:center;
	margin:0;
}

.nav-stacked>li+li
{
	margin-top:0;
}

p, h1, h2, h3
{
	margin:0;
}
/* Lists */

.listHolder
{
	margin-top:12vh;
	
}

.list h3
{
	font-size: 3vmax;
	color: rgb(242,98,97);
	margin: 1vh 0;
}
.list p
{
	font-size: 2vmax;
	margin: 1vh 0;
	color: rgb(117,122,126);
}
.list  a
{
	border-bottom: 1px solid rgb(117,122,126);

}

/* Home Page */
body#home
{
background-position:50% 50%;  /* Sets reference point to scale from */
background-size:cover;        /* Sets background image to cover entire element */
	background-image: url('/app/resources/img/placeholder.jpg');
}

#MenuHolder
{
	position:absolute;
	width:100%;
	bottom:0;
}

#MainMenu
{
	background: transparent;

}

#MainMenu>li>a:hover
{
	background: transparent;
	color: lightgrey;
}

#MainMenu>li>a
{
		color: white;
		font-weight:bold;
		border-top: 1px solid darkgrey;
}

#HomeHeader
{
	position:absolute;
	top: 0;
	height: 15vmin;
	width: 100%;
	background-color: rgba(100,13,47,0.8)
}

#HomeHeader h1
{
	color: white;
	padding-left: 5vw;
	float:left;
	font-size: 6vmin;
	line-height: 15vmin;
	margin:0;
}

#HomeSearch i
{
	float:right;
	color:white;
	font-size: 6vmin;
	padding-right: 5vw;
	line-height: 15vmin;
}

/* Exhibitions */


/* Exhibit */

#exhibAction
{
	margin-top:12vh;
	
}
#exhibAction p
{
	font-size: 3vmax;
	margin: 1vh 0;
	color: rgb(117,122,126);
	
}
#exhibAction  a
{
	background-color:rgba(255,255,255,0.8);
	border-bottom: 1px solid rgb(117,122,126);

}

/* tour */
#body p
{
	position: relative;
	display: block;
	padding: 10px 15px;
  	border-bottom: 1px solid rgb(117,122,126);
	margin: 0;
}
.relative
{
	position: relative;

}
.circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

color:white !important;
 background-color: rgb(242,98,97);
 height: 4vmax;
 -moz-border-radius:2vmax;
 -webkit-border-radius: 2vmax;
 width: 4vmax;
line-height:4vmax;
text-align:center;
margin: 0 !important;
}

.listText
{
	margin-left: 5vmax;
}

/* art list */


#picHolder img
{
	width:100%;
	height: auto;
	margin: 2vh 0;

}
#picHolder #left-col
{
	position: absolute;
	top: 12vh;
	width: 42.5%;
	left: 5%;
}
#picHolder #right-col
{
	position: absolute;
	top: 12vh;
	width: 42.5%;
	right: 5%;
	
}

.footer
{
	position: fixed;
	bottom:0;
	height: 7vh;
	width: 100%;
	background-color: rgb(51,51,51);
		text-align:center;

}

.footer i 
{
	color:rgb(145,145,145);
	line-height: 7vh;
	font-size:5vh;
	margin-left: 20%;
	margin-right:20%;

	
}

.footer i.active
{
	color: rgb(231,98,93);
}
