/* Global */
#topbar
{
	position: fixed;
	top: 0;
	width:100%;
	height: 12vh;
	background-color:white;
	border-bottom: 1px solid rgb(117,122,126);
	z-index:100;
}
#topbar i
{
	color:rgb(242,98,97);
	font-size: 5vmax;
	margin-left: 5vw;
	line-height: 12vh;
}
#topbar h1
{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: rgb(117,122,126);

	float:right;
	font-size: 5vmin;
	text-align:center;
	margin:0;
}

.nav-stacked>li+li
{
	margin-top:0;
}

p, h1, h2, h3
{
	margin:0;
}
/* Lists */

.listHolder
{
	margin-top:12vh;
	
}

.list h3
{
	font-size: 3vmax;
	color: rgb(242,98,97);
	margin: 1vh 0;
}
.list p
{
	font-size: 2vmax;
	margin: 1vh 0;
	color: rgb(117,122,126);
}
.list  a
{
	border-bottom: 1px solid rgb(117,122,126);

}

/* Home Page */
body#home
{
background-position:50% 50%;  /* Sets reference point to scale from */
background-size:cover;        /* Sets background image to cover entire element */
	background-image: url('/app/resources/img/placeholder.jpg');
}

#MenuHolder
{
	position:absolute;
	width:100%;
	bottom:0;
}

#MainMenu
{
	background: transparent;

}

#MainMenu>li>a:hover
{
	background: transparent;
	color: lightgrey;
}

#MainMenu>li>a
{
		color: white;
		font-weight:bold;
		border-top: 1px solid darkgrey;
}

#HomeHeader
{
	position:absolute;
	top: 0;
	height: 15vmin;
	width: 100%;
	background-color: rgba(100,13,47,0.8)
}

#HomeHeader h1
{
	color: white;
	padding-left: 5vw;
	float:left;
	font-size: 6vmin;
	line-height: 15vmin;
	margin:0;
}

#HomeSearch i
{
	float:right;
	color:white;
	font-size: 6vmin;
	padding-right: 5vw;
	line-height: 15vmin;
}

/* Exhibitions */


/* Exhibit */

#exhibAction
{
	margin-top:12vh;
	
}
#exhibAction p
{
	font-size: 3vmax;
	margin: 1vh 0;
	color: rgb(117,122,126);
	
}
#exhibAction  a
{
	background-color:rgba(255,255,255,0.8);
	border-bottom: 1px solid rgb(117,122,126);

}
